Day1/day1_tb.do.bak
Day1/work/_info
Day1/work/_vmake
Day1/work/day1/_primary.dat
Day1/work/day1/_primary.dbs
Day1/work/day1/_primary.vhd
Day1/work/day1/verilog.prw
Day1/work/day1_tb/_primary.dat
Day1/work/day1/verilog.psm
Day1/work/day1_tb/verilog.prw
Day1/work/day1_tb/_primary.vhd
Day1/work/day1_tb/_primary.dbs
Day1/work/day1_tb/verilog.psm
